Repository syenpark/cpp_refresh: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-check-lock, no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

mypy:
  name: mypy - Check typing
  entry: uv run -- mypy
  language: system
  require_serial: true

uv-check-lock:
  name: uv - Check `uv.lock`
  entry: uv lock --check
  language: system
  pass_filenames: false

no-dynamic-allocation:
  name: Detect dynamic allocation (review only)
  ...

no-locks-in-latency-critical:
  name: Detect mutex/lock usage (review for latency)
  entry: bash -c 'grep -r "std::mutex\|pthread_mutex\|std::lock" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
  language: system

no-syscalls-in-hot-loop:
  name: Detect potential syscalls in loops
  entry: bash -c 'grep -r "syscall\|getenv\|system\|popen" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
  language: system

check-atomic-usage:
  name: Verify atomic operations are lock-free
  entry: bash -c 'grep -r "std::atomic" --include="*.cpp" --include="*.h" . | grep -v "is_lock_free" || true'
  language: system

feat(cpp): add fps logs as preprocessor macro
  CMakeLists.txt
  src/cpp/README.md
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

chore(cpp): update README.md
  src/cpp/README.md
Due: none

chore: automic vs mutex doc
  src/cpp/day07/README.md
Due: none

feat(automic): add code vs mutex
  src/cpp/day07/automic
  src/cpp/day07/automic.cpp
  src/cpp/day07/automic_asan
  src/cpp/day07/mutex
  src/cpp/day07/mutex.cpp
  src/cpp/day07/mutex_asan
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

chore: update README.md
  README.md
Due: none

chore(python): support unlimited fps
  config.toml
  src/python/yolo/inference/metadata.py
Due: mypy

feat(atomic): add SPSC
  src/cpp/week02/spsc.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(padding): to prevent false sharing
  src/cpp/week02/spsc.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(treiber): add naive
  src/cpp/week03/treiber
  src/cpp/week03/treiber.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

chore(treiber): add more comments
  src/cpp/week03/treiber.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(triber): add tagged version to prevent ABA
  src/cpp/week03/treiber_tagged
  src/cpp/week03/treiber_tagged.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(treiber): hazard pointer
  src/cpp/week03/treiber.cpp
  src/cpp/week03/treiber_hazard
  src/cpp/week03/treiber_hazard.cpp
  src/cpp/week03/treiber_tagged.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

refactor: delete
  src/python/__init__.py
  src/python/__main__.py
  src/python/_cli.py
  src/python/utils/__init__.py
  src/python/utils/config.py
  src/python/utils/logging.py
  src/python/yolo/__init__.py
  src/python/yolo/analytics/README.md
  src/python/yolo/analytics/__init__.py
  src/python/yolo/analytics/analyze.py
  src/python/yolo/analytics/metrics.py
  src/python/yolo/inference/README.md
  src/python/yolo/inference/__init__.py
  src/python/yolo/inference/metadata.py
Due: mypy

feat(benchmark): add code
  src/cpp/week04/vector_vs_string
  src/cpp/week04/vector_vs_string.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

build(ci): python path checker
  .github/workflows/python-check.yml
Due: none

build(ci): add C++ pre-commit hook
  .github/workflows/cpp-precommit.yml
Due: none

fix(ci): cpp precommit hooks
  .github/workflows/cpp-precommit.yml
  src/cpp/day06/numa.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

fix(ci): resolve conflicts between cpplint and clang-format
  .pre-commit-config.yaml
  src/cpp/common/config.h
  src/cpp/day03/move.cpp
  src/cpp/week03/treiber_tagged.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

build(ubuntu): add Containerfile
  Containerfile
Due: none

build(ubuntu): build the container in git actions
  .github/workflows/build-cpp-env.yml
Due: none

build(ubuntu): to podman
  .github/workflows/build-cpp-env.yml
  README.md
Due: none

fix(ubuntu): git actions
  .github/workflows/build-cpp-env.yml
  Containerfile
Due: none

fix(ubuntu): support arm64
  .github/workflows/build-cpp-env.yml
Due: none

fix(ubuntu): support arm64 as a set
  .github/workflows/build-cpp-env.yml
Due: none

build(ubuntu): add pidstat
  Containerfile
Due: none

build(ubuntu): install more packages
  Containerfile
  README.md
Due: none

refactor(ubuntu): put into linux
  .github/workflows/build-cpp-env.yml
  README.md
  linux/Containerfile
Due: none

feat(logging): for python
  .github/workflows/build-training-env.yml
  src/py/utils/__init__.py
  src/py/utils/config.py
  src/py/utils/custom_logging.py
  training/Containerfile
  training/__init__.py
  training/train.py
Due: mypy

fix(ci): resolve ARM64 container build failure
  .github/workflows/build-cpp-env.yml
  linux/Containerfile
Due: none

feat(ddp): set up env
  .github/workflows/build-training-env.yml
  pyproject.toml
  src/py/__init__.py
  training/Containerfile
  training/train.py
  uv.lock
Due: mypy, uv-check-lock

refactor(ubuntu): rename
  .github/workflows/build-cpp-env.yml
  README.md
Due: none

chore(k8s): update README.md
  README.md
  k8s/README.md
  k8s/job.yaml
Due: none

chore(k8s): update README.md
  k8s/README.md
Due: none

feat(k8s): jap
  k8s/job.yaml
Due: none

Path conditions:
  mypy: any of: \.py$
  uv-check-lock: any of: ^pyproject\.toml|uv\.lock$
  no-dynamic-allocation: any of: \.(cpp|h|hpp)$
  no-locks-in-latency-critical: any of: \.(cpp|h|hpp)$
  no-syscalls-in-hot-loop: any of: \.(cpp|h|hpp)$
  check-atomic-usage: any of: \.(cpp|h|hpp)$
