Repository syenpark/cpp_refresh: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-check-lock, no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: cpplint
        args: ['--filter=-legal/copyright,-runtime/explicit,-whitespace/comments,--quiet']
      - id: cppcheck
        args: [--enable=all, --suppress=missingIncludeSystem, --suppress=noExplicitConstructor]

  - repo: local
    hooks:
      - id: ruff-lint
        name: Ruff - Lint
        entry: uv run -- ruff check --force-exclude --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: Ruff - Format code
        entry: uv run -- ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy - Check typing
        entry: uv run -- mypy
        language: system
        require_serial: true
        types: [python]

      - id: uv-check-lock
        name: uv - Check `uv.lock`
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml|uv\.lock$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: uv run -- trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix end of files
        entry: uv run -- end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: uv run -- check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

      - id: no-dynamic-allocation
        name: Detect dynamic allocation (review only)
        entry: bash -c 'echo "[INFO] Checking for dynamic allocation..." && (grep -r "new \|malloc\|calloc\|realloc" --include="*.cpp" --include="*.h" . 2>/dev/null && echo "[REVIEW] Found dynamic allocation - ensure it is not in hot paths") || echo "[OK] No obvious dynamic allocation found"; true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-locks-in-latency-critical
        name: Detect mutex/lock usage (review for latency)
        entry: bash -c 'grep -r "std::mutex\|pthread_mutex\|std::lock" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-syscalls-in-hot-loop
        name: Detect potential syscalls in loops
        entry: bash -c 'grep -r "syscall\|getenv\|system\|popen" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: check-atomic-usage
        name: Verify atomic operations are lock-free
        entry: bash -c 'grep -r "std::atomic" --include="*.cpp" --include="*.h" . | grep -v "is_lock_free" || true'
        language: system
        files: \.(cpp|h|hpp)$

feat(k8s): add deployment
  k8s/deployment.yaml
Due: none

chore(k8s): update README.md
  k8s/README.md
Due: none

build(training): add numpy
  pyproject.toml
  uv.lock
Due: uv-check-lock

feat(training): gpu timing
  training/gpu_inference_timing.py
Due: mypy

chore(training): add README.md
  README.md
  training/README.md
Due: none

chore(training): update README.md
  training/README.md
Due: none

feat(training): add banchmark
  .github/workflows/build-training-env.yml
  training/dataloader_benchmark.py
Due: mypy

chore: update README.md
  README.md
Due: none

feat(training): add ddpsampler
  training/README.md
  training/distributed_sampler_demo.py
Due: mypy

refactor(training): exclude README.md update for ci trigger
  .github/workflows/build-training-env.yml
Due: none

chore(training): update Readme.md
  training/README.md
  training/train.py
Due: mypy

feat(cpp): producer consumer example
  CMakeLists.txt
  src/cpp/lab/producer_consumer
  src/cpp/lab/producer_consumer.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

build(linux): add vim
  linux/Containerfile
  src/cpp/lab/producer_consumer
  src/cpp/lab/producer_consumer.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

docs: refactor READMEs, move lectures to docs/, reframe repo scope
  README.md
  docs/allocators-cache.md
  docs/memory-hierarchy.md
  src/cpp/README.md
  training/README.md
Due: none

chore: purge committed build artifacts and ignore in-place topic executables
  .gitignore
  src/cpp/day01/Contents/Info.plist
  src/cpp/day01/Contents/Resources/DWARF/lifetime
  src/cpp/day01/Contents/Resources/Relocations/aarch64/lifetime.yml
  src/cpp/day01/lifetime
  src/cpp/day01/lifetime_asan
  src/cpp/day02/reference_vs_copy
  src/cpp/day02/reference_vs_copy_asan
  src/cpp/day03/move
  src/cpp/day03/move_asan
  src/cpp/day04/api
  src/cpp/day04/api_asan
  src/cpp/day07/automic
  src/cpp/day07/automic_asan
  src/cpp/day07/mutex
  src/cpp/day07/mutex_asan
  src/cpp/lab/producer_consumer
  src/cpp/week03/treiber
  src/cpp/week03/treiber_hazard
  src/cpp/week03/treiber_tagged
  src/cpp/week04/vector_vs_string
Due: none

feat(k8s): add resource request
  k8s/README.md
  k8s/resource-demo.yaml
Due: none

feat(training): gpu timing
  training/README.md
  training/gpu_inference_timing.py
Due: mypy

feat(k8s): resource
  k8s/README.md
Due: none

chore(training): add more description
  training/README.md
  training/train.py
Due: mypy

build(training): install more monitoring and profiling tools
  training/Containerfile
Due: none

chore: update README.md
  README.md
  k8s/README.md
  src/cpp/README.md
  training/README.md
Due: none

chore: update README.md
  k8s/README.md
Due: none

chore(linux): add README.md
  README.md
  linux/README.md
  training/README.md
Due: none

chore(linux): update README.md
  README.md
  linux/README.md
Due: none

feat(training): add straggler
  training/dataloader_benchmark_straggler.py
Due: mypy

chore(linux): update README.md
  linux/README.md
Due: none

feat(trainig): add more timers
  training/dataloader_benchmark_straggler.py
Due: mypy

chore: update README.md
  README.md
  training/README.md
Due: none

chore: refactor README.md
  linux/README.md
Due: none

chore(k8s): refactor
  k8s/README.md
Due: none

feat(training): gpu profiling
  training/README.md
  training/gpu_inference_profiling.py
Due: mypy

feat(training): add h2d
  training/gpu_inference_profiling.py
Due: mypy

feat(k8s): add service
  k8s/inference-service.yaml
Due: none

feat(training): postprocessing profiling
  training/gpu_inference_profiling.py
Due: mypy
