Repository syenpark/cpp_refresh: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-check-lock, no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: cpplint
        args: ['--filter=-legal/copyright,-runtime/explicit,-whitespace/comments,--quiet']
      - id: cppcheck
        args: [--enable=all, --suppress=missingIncludeSystem, --suppress=noExplicitConstructor]

  - repo: local
    hooks:
      - id: ruff-lint
        name: Ruff - Lint
        entry: uv run -- ruff check --force-exclude --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: Ruff - Format code
        entry: uv run -- ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy - Check typing
        entry: uv run -- mypy
        language: system
        require_serial: true
        types: [python]

      - id: uv-check-lock
        name: uv - Check `uv.lock`
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml|uv\.lock$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: uv run -- trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix end of files
        entry: uv run -- end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: uv run -- check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

      - id: no-dynamic-allocation
        name: Detect dynamic allocation (review only)
        entry: bash -c 'echo "[INFO] Checking for dynamic allocation..." && (grep -r "new \|malloc\|calloc\|realloc" --include="*.cpp" --include="*.h" . 2>/dev/null && echo "[REVIEW] Found dynamic allocation - ensure it is not in hot paths") || echo "[OK] No obvious dynamic allocation found"; true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-locks-in-latency-critical
        name: Detect mutex/lock usage (review for latency)
        entry: bash -c 'grep -r "std::mutex\|pthread_mutex\|std::lock" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-syscalls-in-hot-loop
        name: Detect potential syscalls in loops
        entry: bash -c 'grep -r "syscall\|getenv\|system\|popen" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: check-atomic-usage
        name: Verify atomic operations are lock-free
        entry: bash -c 'grep -r "std::atomic" --include="*.cpp" --include="*.h" . | grep -v "is_lock_free" || true'
        language: system
        files: \.(cpp|h|hpp)$

build(uv): add a github action workflow for python
  .github/workflows/python-check.yml
Due: none

fix(github): python check
  .github/workflows/python-check.yml
Due: none

fix(github): python check by create real files
  pyproject.toml
  src/python/yolo/__init__.py
  src/python/yolo/analytics/__init__.py
  src/python/yolo/analytics/analyze.py
  src/python/yolo/inference/__init__.py
  src/python/yolo/inference/metadata.py
Due: mypy, uv-check-lock

fix(github): python check by create real files
  src/python/__init__.py
Due: mypy

fix(github): workflow
  .github/workflows/python-check.yml
Due: none

fix: duplicate module conflict
  pyproject.toml
  src/python/__init__.py
Due: mypy, uv-check-lock

build(uv): add zeromq
  pyproject.toml
  uv.lock
Due: uv-check-lock

feat(yolo): dummy yolo inference
  config.toml
  pyproject.toml
  src/python/__init__.py
  src/python/_cli.py
  src/python/yolo/inference/metadata.py
  uv.lock
Due: mypy, uv-check-lock

chore: update README.md
  README.md
  src/python/_cli.py
Due: mypy

chore: update README.md
  README.md
  src/python/yolo/analytics/README.md
  src/python/yolo/inference/README.md
Due: none

chore(inference): update README.md
  src/python/yolo/inference/README.md
Due: none

refactor(inference): subcommand
  config.toml
  src/python/_cli.py
  src/python/yolo/inference/README.md
Due: mypy

feat(inference): send dummy metadata via zeromq
  src/python/yolo/inference/metadata.py
Due: mypy

feat(inference): log fps
  config.toml
  src/python/_cli.py
  src/python/yolo/inference/metadata.py
Due: mypy

refactor(inference): put hard coded parameters into config.toml
  config.toml
  src/python/_cli.py
  src/python/yolo/inference/metadata.py
Due: mypy

feat(analytics): read metadata via zmq
  src/python/_cli.py
  src/python/yolo/analytics/README.md
  src/python/yolo/analytics/analyze.py
Due: mypy

chore: update README.md
  README.md
Due: none

feat(analytics): add performance evaluation metrics
  pyproject.toml
  src/python/_cli.py
  src/python/yolo/analytics/analyze.py
  src/python/yolo/analytics/metrics.py
  uv.lock
Due: mypy, uv-check-lock

refactor(analytics): refactor
  src/python/yolo/analytics/analyze.py
Due: mypy

refactor(analytics): mypy
  src/python/yolo/analytics/analyze.py
  src/python/yolo/analytics/metrics.py
Due: mypy

refactor(analytics): readability
  src/python/yolo/analytics/metrics.py
Due: mypy

build(cpp): add toml++ for cpp
  .gitmodules
Due: none

chore(analytics): update README.md
  src/python/yolo/analytics/README.md
Due: none

feat(cpp): add read toml
  .pre-commit-config.yaml
  CMakeLists.txt
  config.toml
  src/cpp/README.md
  src/cpp/analytics/main.cpp
  src/cpp/common/config.cpp
  src/cpp/common/config.h
  src/cpp/day01/lifetime.cpp
  src/cpp/day02/reference_vs_copy.cpp
  src/cpp/day03/move.cpp
  src/cpp/day04/api.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

chore(cpp): update README.md
  src/cpp/README.md
Due: none

feat(cpp): get config.path
  src/cpp/README.md
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

chore: udpate README.md
  README.md
Due: none

fix(cpp): toml properties
  src/cpp/common/config.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

build(cpp): install zmq
  .gitmodules
  CMakeLists.txt
  src/cpp/README.md
Due: none

feat(cpp): connect zmq
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

refactor(cpp): handle error
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(cpp): recv I/O while loop
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

build(cpp): add rapidjson
  .gitmodules
  CMakeLists.txt
Due: none

feat(cpp): add json parser
  CMakeLists.txt
  src/cpp/README.md
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

refactor(cpp): cpp wraper for header
  src/cpp/analytics/main.cpp
  src/cpp/include/rapidjson.hpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

fix(cpp): parse only payload, not topic
  config.toml
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

feat(cpp): simulate hot loop
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

refactor(cpp): update function name
  src/cpp/analytics/main.cpp
Due: no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage
