Repository syenpark/cpp_refresh: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-check-lock, no-dynamic-allocation, no-locks-in-latency-critical, no-syscalls-in-hot-loop, check-atomic-usage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: cpplint
        args: ['--filter=-legal/copyright,-runtime/explicit,-whitespace/comments,--quiet']
      - id: cppcheck
        args: [--enable=all, --suppress=missingIncludeSystem, --suppress=noExplicitConstructor]

  - repo: local
    hooks:
      - id: ruff-lint
        name: Ruff - Lint
        entry: uv run -- ruff check --force-exclude --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: Ruff - Format code
        entry: uv run -- ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy - Check typing
        entry: uv run -- mypy
        language: system
        require_serial: true
        types: [python]

      - id: uv-check-lock
        name: uv - Check `uv.lock`
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml|uv\.lock$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: uv run -- trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix end of files
        entry: uv run -- end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: uv run -- check-merge-conflict
        args: [--assume-in-merge]
        language: system
        types: [text]

      - id: no-dynamic-allocation
        name: Detect dynamic allocation (review only)
        entry: bash -c 'echo "[INFO] Checking for dynamic allocation..." && (grep -r "new \|malloc\|calloc\|realloc" --include="*.cpp" --include="*.h" . 2>/dev/null && echo "[REVIEW] Found dynamic allocation - ensure it is not in hot paths") || echo "[OK] No obvious dynamic allocation found"; true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-locks-in-latency-critical
        name: Detect mutex/lock usage (review for latency)
        entry: bash -c 'grep -r "std::mutex\|pthread_mutex\|std::lock" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: no-syscalls-in-hot-loop
        name: Detect potential syscalls in loops
        entry: bash -c 'grep -r "syscall\|getenv\|system\|popen" --include="*.cpp" --include="*.h" . 2>/dev/null || true'
        language: system
        files: \.(cpp|h|hpp)$

      - id: check-atomic-usage
        name: Verify atomic operations are lock-free
        entry: bash -c 'grep -r "std::atomic" --include="*.cpp" --include="*.h" . | grep -v "is_lock_free" || true'
        language: system
        files: \.(cpp|h|hpp)$

fix(training): isolate preprocess vs h2d workload state
  training/gpu_inference_profiling.py
Due: mypy

chore(training): update README.md
  training/README.md
Due: none

chore(linux): update README.md
  linux/README.md
Due: none

chore(k8s): update README.md
  k8s/README.md
Due: none

chore(linux): update README.md about I/O
  linux/README.md
Due: none

chore(training): update README.md about GPU async vs CPU
  training/README.md
Due: none

feat(training): add ddp backward lap
  training/ddp_buckets/__init__.py
  training/ddp_buckets/c1_ddp_buckets.py
Due: mypy

feat(training): add ddp backward laps
  training/ddp_buckets/c2_ring_allreduce.py
  training/ddp_buckets/c3_cost_model.py
  training/ddp_buckets/c4_fsdp_by_hand.py
  training/ddp_buckets/c5_hang_demo.py
Due: mypy

fix(training): macbook issue
  training/ddp_buckets/c1_ddp_buckets.py
  training/ddp_buckets/c2_ring_allreduce.py
  training/ddp_buckets/c4_fsdp_by_hand.py
  training/ddp_buckets/c5_hang_demo.py
Due: mypy

feat(k8s): add admission vs scheduling failure lab
  k8s/pod.yaml
Due: none

refactor(training): drop train.py and sampler demo, consolidate README
  README.md
  pyproject.toml
  training/Containerfile
  training/README.md
  training/dataloader_benchmark.py
  training/distributed_sampler_demo.py
  training/train.py
Due: mypy, uv-check-lock

feat(k8s): add quota lab
  .pre-commit-config.yaml
  k8s/quota-lab/01-ns.yaml
  k8s/quota-lab/02-quota.yaml
  k8s/quota-lab/03-limitrange.yaml
  k8s/quota-lab/04-job.yaml
  k8s/quota-lab/05-quota-lab.yaml
Due: none

docs(training): shorten README, concept-first, fix sampler section
  README.md
  training/README.md
Due: none

docs(k8s): shorten README, keep job-scheduling-quota storyline
  k8s/README.md
Due: none

docs(linux): shorten README, cut repeated troubleshooting diagrams
  linux/README.md
Due: none

docs(cpp): turn README into a topic index, fold in day07, drop stale status
  src/cpp/README.md
  src/cpp/day07/README.md
Due: none

docs(reference): merge memory-hierarchy + allocators-cache, trim jargon glossary
  docs/allocators-cache.md
  docs/jargon.md
  docs/memory-hierarchy.md
Due: none

docs(root): make README a navigation hub, move hot-loop case study to docs
  README.md
  docs/memory-hierarchy.md
Due: none

docs: fix sampler diagram, sync table, k8s row, ddp_buckets commands
  README.md
  training/README.md
Due: none

docs: add CLAUDE.md
  CLAUDE.md
Due: none
